.Container {
  width: 450px;
  margin: 0 auto;
}

.Title {
  font-size: 24px;
  font-weight: 700;
}

.CryptoNameContainer {
  display: flex;
  gap: 30px;
  align-items: center;
  padding-bottom: 50px;
}

.Shortcut {
  color: #75808a;
  font-size: 14px;
  background-color: #e7ecf1;
  border-radius: 20px;
  padding: 4px;
}

.Icon {
  width: 30px;
  height: 30px;
  border: 5px solid white;
  border-radius: 50%;
  padding: 5px;
}

.ButtonContainer {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.Button {
  height: 40px;
  padding: 16px;
  background-color: hsl(265, 32%, 92%);
  border: none;
  border-radius: 50px;
  color: #5a358a;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.Price {
  font-size: 32px;
  padding-bottom: 20px;
}

.DetailsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Details {
  display: flex;
  justify-content: space-between;
}
