.Container {
  background-color: white;
  padding: 16px;
  border-radius: 20px;
  width: 450px;
  height: 100%;
}

.Title {
  font-size: 34px;
  margin-bottom: 18px;
  font-weight: 700;
}

.Balance {
  font-size: 32px;
}

.Currency {
  color: #75808a;
  font-size: 14px;
  padding-bottom: 16px;
}

.Button {
  height: 40px;
  padding: 16px;
  background-color: hsl(265, 32%, 92%);
  border: none;
  border-radius: 50px;
  color: #5a358a;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.Link {
  text-decoration: none;
}

.CryptoListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  align-items: center;
  justify-content: center;
}
